@model Forms.Web.Models.FormModel
@{
    ViewBag.Title = "FormResult";
}

<style>
    td {
        color: @Model.FavoriteColor;
    }
</style>

<h2>Form Result</h2>



<table>
    <tr>
        <td>Name</td>
        <td>@Model.Name</td>
    </tr>
    <tr>
        <td>Password</td>
        <td>@Model.Password</td>
    </tr>
    <tr>
        <td>Subscribe</td>
        <td>@Model.Subscribe</td>
    </tr>
    <tr>
        <td>Gender</td>
        <td>@Model.Gender</td>
    </tr>
    <tr>
        <td>State</td>
        <td>@Model.State</td>
    </tr>
    <tr>
        <td>Favorite Color</td>
        <td>@Model.FavoriteColor</td>
    </tr>

</table>